{% extends '../base.html' %}
{% load static %}
{% block title_name %}
<title>Login | BaliGo Ekspedisi</title>
{% endblock %}
{% block file_css %}
<link href="{% static 'frontend/css/about.css' %}" rel="stylesheet">
<style type="text/css">
input {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    position: relative;
    outline: none;
    display: block;
    width: 100%;
    height: 30px;
    top: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
    color: #666;
}

:-moz-placeholder {
    color: #666;
}

::-moz-placeholder {
    color: #666;
}

:-ms-input-placeholder {
    color: #666;
}

.mobile-nav-toggle{
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: !important;
}    

button {
    background: rgba(101, 215, 60, 0.4);
    border: none;
    outline: none;
    display: block;
    width: 100%;
    top: 5px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    
}

button:hover {
    background: rgba(84, 188, 47, 0.4);
    border: none;
    outline: none;
    width: 400px;
    top: 5px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

@keyframes username_move {
    from {
        right: 600px;
    }

    to {
        right: 0px;
    }
}

@keyframes password_move {
    from {
        right: 800px;
    }

    to {
        right: 0px;
    }
}

@keyframes slideIn {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideIn_x {
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
</style>
{% endblock %}
{% block slider %}
{% endblock %}
{% block content %}
<section id="about1" class="about about-1 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="contact-panel contact-panel-2" style="background-image: url({% static 'frontend/gif/order.gif'%}); background-size: 380px auto; background-repeat: no-repeat; background-position: right; height: auto;">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Silahkan Login</h1>
                            <p>Untuk melakukan order Pickup</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <form action="{%url 'customer_login'%}" method="post" class="registration-form">
                                {% csrf_token %}
                                <input type="text" name="username" id="username" placeholder="Masukan Username" required="" style="animation: username_move 2s;" />
                                <input type="password" name="password" id="password" placeholder="Masukan Password" required="" style="animation: password_move 2s;" />
                                <button type="submit" style="transform: translateX(-600px); animation: 1.2s slideIn_x ease-in-out forwards 1s;">Login</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <a class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="heading heading-3 pt-100">
                    <span class="heading__subtitle" style="transform: translateY(-600px); animation: 1.2s slideIn ease-in-out forwards 1s;">Apa sih, fitur order pickup itu?</span>
                    <h2 class="heading__title" style="transform: translateY(-600px); animation: 1.2s slideIn ease-in-out forwards 1s;">Order Pickup memungkinkan customer untuk meminta layanan penjemputan paket!</h2>
                    <p class="heading__desc mb-30" style="text-align: justify; text-justify: inter-word; transform: translateY(-800px); animation: 1.2s slideIn ease-in-out forwards 1s;">Order Penjemputan paket tadi akan di teruskan ke Outlet Terdekat dari Customer, kemudian kurir yang berada di outlet tersebut akan mendapatkan notif dan jika di terima maka kurir siap untuk menjemput paket anda ke lokasi anda, jadi anda tidak perlu meluangkan waktu untuk pergi ke Outlet Kami.</p>
                    <p style="transform: translateY(-600px); animation: 1.2s slideIn ease-in-out forwards 1s;">Belum Punya Akun? <a href="{% url 'customer_register'%}" style="color: #ff2626">Yuk Daftar disini!</a></p>
                </div><!-- /.heading -->
            </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.About 1 -->
<br>
<br>
<br>
{% endblock %}
{% block file_js %}
<script type="text/javascript">
</script>
{% endblock %}