{% extends 'base.html' %}
{% load static %}

{% block title_name %}
 <title>Extra Cash | BaliGo Ekspedisi</title>
{% endblock %}

{% block file_css %}
<!-- DataTables -->
 <link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 <!-- SweetAlert2 -->
  <link rel="stylesheet" href="{% static 'assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">

  <style type="text/css">
	@media (max-width: 768px) {
		.buttontext {
			width: 95px;
			overflow: hidden;
			white-space: nowrap;
			display: block;
			text-overflow: ellipsis;
		}
	}
 </style>
{% endblock %}


{% block content_header %}
<div class="container-fluid">
    <div class="row mb-2">
    	<div class="col-sm-6">
            <h1 class="m-0 text-dark">Extra Cash</h1>
        </div><!-- /.col -->
	    <div class="col-sm-6">
	    	<ol class="breadcrumb float-sm-right">
	    		<li class="breadcrumb-item"><a href="#">Home</a></li>
	    		<li class="breadcrumb-item active">Extra Cash</li>
	    	</ol>
	    </div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.container-fluid -->
{% endblock %}



{% block content %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">Data Extra Cash</h3>
		<div class="card-tools">
			<button type="button" class="btn btn-block bg-gradient-primary" id="createExtraCash">
				<span class="buttontext"><i class="fa fa-plus"></i>&nbsp; Tambah Extra Cash</span>
			</button>
		</div>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="extra_cash" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th id="no_th">No</th>
					<th id="wilayah_th">Wilayah</th>
					<th id="tarif_th">Tarif</th>
					<th id="action_th">Action</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			<tfoot>
				<tr>
					<th>No</th>
					<th>Wilayah</th>
					<th>Tarif</th>
					<th>Action</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- /.card-body -->
</div>



<!-- /.modal -->
<div class="modal fade" id="modal_extra_cash">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="title_modal">Tambah Extra Cash</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="createExtraCashForm" method="post" data-url="{% url 'extra_cash' %}" data-url_delete="{% url 'extra_cash_delete' %}" data-url_detail="{% url 'extra_cash_detail' %}" data-url_update="{% url 'extra_cash_update' %}" data-url_activated="{% url 'extra_cash_activate' %}">
					{% csrf_token %}
					{% for field in form %}
						<div class="form-group row">
		                    <label for="{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
			                   <div class="col-sm-10">
			                      {{ field }}
			                   </div>
		                </div>
					{% endfor %}
					<div id="id_wilayah_edit"></div>
					<input type="hidden" name="id" id="id_extra_cash">
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button type="button" class="btn btn-primary" id="updateButton">Update</button>
				<button type="button" class="btn btn-primary" id="createButton">Simpan</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}




{% block file_js %}
<!-- Bootstrap 4 -->
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'assets/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<!-- jquery-mask -->
<script src="{% static 'assets/plugins/jquery-mask/jquery.mask.js' %}"></script>
<script>
	$(document).ready(function(){

		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		var url_edit = '';
		$('.tarif').mask('000.000.000', {reverse: true});
		
		function remove_last_3_char(data){
			var newStr = data.substring(0, data.length - 3);
			return newStr;
        }
		function tampilkan_pesan(pesan, type){
	    	Toast.fire({
	        icon: type,
	        title: pesan
	      });
	    }

		const Toast = Swal.mixin({
	      toast: true,
	      position: 'top-end',
	      showConfirmButton: false,
	      timer: 3000
	    });

	    function show_activated(data_response){
			var id = data_response.data_arsip.id;
			var wilayah = data_response.data_arsip.wilayah;
			var tarif = data_response.data_arsip.tarif;

			Swal.fire({
			  title: 'Restore Extra Cash',
			  text: "Ingin Merestore Extra Cash wilayah: "+ wilayah +"!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Ya, Aktifkan Kembali!',
			  cancelButtonText: 'Tidak, Terimakasih!',
			}).then((result)=>{
			  if (result.value) {
				$.ajax({
					url: $("#createExtraCashForm").data('url_activated'),
					data: {
						csrfmiddlewaretoken: getCookie('csrftoken'),
						id: id
					},
					type: 'post',
					dataType: 'json',
					success: function(response){
						tampilkan_pesan(response.msg, response.type);
						table.ajax.reload();
					},
					error: function(xhr, status, error){
						var error_response = xhr.responseJSON;
						tampilkan_pesan(error_response.msg, error_response.type);
					}
				});
				
			  }
			})
		}

		function disable_button_when_not_changes(response) {
		    let input_1 = document.getElementById("inputTarif");
		    let button = document.getElementById("updateButton");
		    button.disabled = true;
		    input_1.addEventListener("keyup", stateHandle);
		  
		    function stateHandle() {
		        if (($('.tarif').cleanVal() == remove_last_3_char(response.data.tarif)) || ($('.tarif').cleanVal() == '')) {
		            button.disabled = true;
		        } else {
		            button.disabled = false;
		        }
		    }
		}

		var table = $('#extra_cash').DataTable({
			"columns": [
		        {
		            "width": "14%"
		        }, {
		            "width": "20%"
		        }, null, {
		            "width": "16%"
		        },
		    ],
	      "paging": true,
	      "lengthChange": false,
	      "searching": true,
	      "ordering": true,
	      "info": true,
	      "autoWidth": false,
	      "responsive": true,
	      "processing" : true,
	      "serverside" : true,
	      "ajax" : {
	      	"url" : $("#createExtraCashForm").data('url'),
	      	"type" : "get"
	      }
	    });

		//CREATE DATA (SHOW FORM)
		$("#createExtraCash").click(function(e){
			e.preventDefault();
			$("#createExtraCashForm")[0].reset();
			$("#createButton").prop("disabled", false);
			document.getElementById("id_wilayah_edit").innerHTML = '';
			document.getElementById("inputWilayah").disabled = false; 
			document.getElementById("updateButton").style.display = "none";
			document.getElementById("createButton").style.display = "block";
			$('#modal_extra_cash').modal('show');
			
		});


		// CREATE DATA ACTION
		$("#createButton").click(function(e){
			if (!$("#createExtraCashForm").valid()) return;

			e.preventDefault();
			$("#createButton").prop("disabled", true);
			document.getElementById("inputTarif").value = $('.tarif').cleanVal();
			var serializeData = $("#createExtraCashForm")[0];
			serializeData = new FormData(serializeData);
			
			$.ajax({
				url: $("#createExtraCashForm").data('url'),
				data: serializeData,
				type: 'post',
				cache: false,
				processData: false,
        		contentType: false,
				success: function(response){
					$('#modal_extra_cash').modal('hide');
					setTimeout(function(){
						if(response.arsip == true){
							show_activated(response);
						}else{
							table.ajax.reload();
							tampilkan_pesan(response.msg, response.type);
						}
						
					}, 1000);
					$("#createButton").prop("disabled", false);
				},
				error: function(xhr, status, error){
					// $('#modal_extra_cash').modal('hide');
					setTimeout(function() {
		                var error_response = xhr.responseJSON;
		                
		                if (error_response.arsip == true) {
		                    show_activated(error_response);
		                }else{
		                	tampilkan_pesan(error_response.msg, error_response.type);
		                }
		            }, 1000);
		            $("#createButton").prop("disabled", false);
					
				},
			})
		});


		//BAGIAN DELETE
	    $('body').on('click', '.deleteExtraCash', function () {
	        var id_ec = $(this).data("id");
	        var wilayah = $(this).data("nama");
	        Swal.fire({
			  title: 'Anda yakin?',
			  text: "Yakin menghapus Tarif Extra Cash: "+ wilayah,
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!',
			}).then((result)=>{
			  if (result.value) {
			  	$.ajax({
			  		url: $("#createExtraCashForm").data('url_delete'),
			  		data: {
			  			csrfmiddlewaretoken: getCookie('csrftoken'),
			  			id: id_ec
			  		},
			  		type: 'post',
			  		dataType: 'json',
			  		success: function(response){
			  			tampilkan_pesan(response.msg, response.type);
			  			table.ajax.reload();
			  		},
			  		error: function(xhr, status, error){
			  			var error_response = xhr.responseJSON;
			  			tampilkan_pesan(error_response.msg, error_response.type);
			  		}
			  	});
			    
			  }
			})
	    });


	    //EDIT DATA SHOW
		$('body').on('click', '.editExtraCash', function(event){
			event.preventDefault();
			$("#createExtraCashForm")[0].reset();
			$("#updateButton").prop("disabled", false);
			var id_ec = $(this).data("id");
			
			$.ajax({
				url: $("#createExtraCashForm").data('url_detail'),
				data: {
					csrfmiddlewaretoken: getCookie('csrftoken'),
					id: id_ec
				},
				type: 'post',
				dataType: 'json',
				success: function(response){
					disable_button_when_not_changes(response);
					document.getElementById("inputTarif").value = $('.tarif').masked(remove_last_3_char(response.data.tarif));
					document.getElementById("id_extra_cash").value = response.data.id;
					document.getElementById("inputWilayah").value = response.data.wilayah;
					document.getElementById("id_wilayah_edit").innerHTML = '<input type="hidden" name="wilayah" value="'+response.data.wilayah+'">';
					document.getElementById("inputWilayah").disabled = true; 
					document.getElementById("inputTarif").disabled = false;

					document.getElementById("updateButton").style.display = "block";
					document.getElementById("createButton").style.display = "none";
					document.getElementById("title_modal").innerHTML = "Edit Data Extra Cash";
					
					$('#modal_extra_cash').modal('show');
				}
			})
			
		});


		// Update action
		$("#updateButton").click(function(e){
			e.preventDefault();
			$("#updateButton").prop("disabled", true);
			document.getElementById("inputTarif").value = $('.tarif').cleanVal();
			var serializeData = $("#createExtraCashForm").serialize();
			
			$.ajax({
				url: $("#createExtraCashForm").data('url_update'),
				data: serializeData,
				type: 'post',
				cache: false,
				success: function(response){
					table.ajax.reload();
					$('#modal_extra_cash').modal('hide');
					tampilkan_pesan(response.msg, response.type);
					$("#createExtraCashForm")[0].reset();
					$("#updateButton").prop("disabled", false);
				},
				error: function(xhr, status, error){
					var error_response = xhr.responseJSON;

					tampilkan_pesan(error_response.msg, error_response.type);
					$("#updateButton").prop("disabled", false);
				},
			})

			
		});


		$('#modal_extra_cash').on('hide.bs.modal', function(){
			setTimeout(function(){
				var validator = $("#createExtraCashForm").validate();
				validator.resetForm();
			
			})
		});


	});
</script>
{% endblock %}
