/* SLIDER */
.slider{ width:100%; height:580px; float:left; position:relative;}
.slider .slick-dots{ width:10px; position:absolute; right:40px; top:50%; margin-top:-30px; z-index:4;}
.slider .slick-dots li{ width:10px; float:left; margin-bottom:10px;}
.slider .slick-dots li button{ width:10px; height:10px; float:left; text-indent:-9999px; padding:0; border-radius:50%;}
.slider .slick-dots li.slick-active button{ background:#ffba00;}
.slider .main-slider{ width:100%; float:left; height:580px;}
.slider .fixed-form{ width:100%; float:left; position:absolute; left:0; top:0; z-index:2;}
.slider .fixed-form h3{ font-size:90px; color:#ffba00; font-weight:700; margin-top:160px;}
.slider .fixed-form h5{ font-size:30px; color:#fff; letter-spacing:4px;}
.slider .fixed-form form{ width:100%; float:left; margin-top:30px;}
.slider .fixed-form form input[type="text"]{ width:200px; background:none; color:#fff; border:3px solid #fff; font-weight:500;}
.slider .fixed-form form input[type="text"].datepicker { width:110px; background:none; color:#fff; border-radius:0;}
.slider .fixed-form form ::-webkit-input-placeholder { color:#fff; } :-moz-placeholder { color: #fff; } ::-moz-placeholder {color:#fff; } :-ms-input-placeholder { color:#fff; }
.slider .fixed-form form button[type="submit"]{ background:#ffba00;}
.slider .main-slider .slide1{ width:100%; height:580px; background:url(../images/sliders/1.jpg) center no-repeat; background-size:cover;}
.slider .main-slider .slide2{ width:100%; height:580px; background:url(../images/sliders/2.jpg) center no-repeat; background-size:cover;}
.slider .main-slider .slide3{ width:100%; height:580px; background:url(../images/sliders/3.jpg) center no-repeat; background-size:cover;}