/*--------------------
    Tabs
--------------------*/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav__link {
  display: block;
  position: relative;
  padding: 0 0 6px;
  margin: 0 30px 20px 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #121c45;
}

.nav-tabs .nav__link:last-of-type {
  margin-right: 0;
}

.nav-tabs .nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #49b44b
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.nav-tabs .nav__link.active,
.nav-tabs .nav__link:hover {
  color: #49b44b
}

.nav-tabs .nav__link.active:after,
.nav-tabs .nav__link:hover:after {
  width: 100%;
}

.nav-tabs-white .nav__link {
  color: #ffffff;
}

.nav-tabs-white .nav__link.active,
.nav-tabs-white .nav__link:hover {
  color: #ffffff;
}

.nav-tabs-white .nav__link:after {
  background-color: #fff;
}

/* Mobile Phones and tablets */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav-tabs .nav__link {
    margin: 0 15px 10px 0;
  }
}